@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: "HelveticaNeue", "sans-serif", "Courier New";
  width: 100%;
}
